.main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    &__header {
        overflow: hidden;
        position: relative;
        padding: 0px 0px 30% 0px;
        max-height: 220px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__body{
        padding: 20px;
    }
    &__button {
        font-size: 20px;
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        
        text-align: center;
        display: grid;
        justify-items: center;

    }
}