.feedback {
    display: grid;
    justify-items: center;
    padding: 20px;
    &__forms {
        display: grid;
        row-gap: 20px;
        justify-items: center;
    }

    &__footer {
        display: grid;
        justify-items: center;
        padding: 5px;
        grid-template-columns: repeat( auto-fit , minmax(200px, 1fr));
        column-gap: 30px;
        row-gap: 30px;
        width: 100%;
    }

    @media(min-width: 680px) {
        .feedback__footer {
            display: grid;
            justify-items: center;
            padding: 5px;
            grid-template-columns: repeat( auto-fit , minmax(200px, 1fr));
            column-gap: 30%;
            row-gap: 30px;
        }
      }
    
    &__feedback-form {
        display: grid;
        text-align: center;
        padding: 10px;
    }

    
}

form {
    width: 100%;
}