.feedback {
    display: grid;
    justify-items: center;

    &__forms {
        display: grid;
        row-gap: 20px;
        justify-items: center;
    }

    &__footer {
        width: 100%;
        display: grid;
        justify-items: center;
        padding: 20px;
        grid-template-columns:  1fr 1fr;
        column-gap: 40px;
    }
    
    &__feedback-form {
        display: grid;
        text-align: center;
        padding: 10px;
    }

    
}

form {
    width: 100%;
}